
@{
    ViewData["Title"] = "NotFound_OK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-pagetop bg-light">
	<div class="container">
		<h2 class="title-page">Không tìm thấy sản phẩm nào!!</h2>
	</div> <!-- container .// -->
</section>

